*.java.hsp
*.sonarj
*.sw*
.DS_Store
.settings
.springBeans
bin
build.sh
integration-repo
ivy-cache
jxl.log
jmx.log
derby.log
spring-test/test-output/
.gradle
argfile*
activemq-data/

classes/
/build
buildSrc/build
/spring-*/build
/src/asciidoc/build
target/



# IDEA artifacts and output dirs
*.iml
*.ipr
*.iws
.idea
out
test-output
atlassian-ide-plugin.xml
.gradletasknamecache


*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

/logs
/log
/lemon-cloud

#Builtapplicationfiles
*.apk
*.ap_

#FilesfortheDalvikVM
*.dex

#Javaclassfiles
*.class

#Generatedfiles
bin/
gen/

#Gradlefiles
.gradle/
build/

#Localconfigurationfile(sdkpath,etc)
local.properties

#ProguardfoldergeneratedbyEclipse
proguard/

#LogFiles
*.log


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
